/*
don't look too deep this is just mockup css, wrote for speed — i'd use tailwindCSS next time.
*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

.App {
  font-family: "Roboto";
  background-color: rgb(250, 250, 250);
  text-align: center;
 
}

.hero {
  padding: 8px 80px 40px 80px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 63px;
  color: #222;
  border-radius: 8px;
  margin: 8px;
}
.banner {
  display: flex;
}
.one {
  width: 50%;
}
.two {
  width: 50%;
  display: flex;
  align-items: center;
}
.hero-title {
  line-height: 80px;
  text-align: center;
}
.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
}
.Superscript {
  font-size: 16px;
  color: #444;
  margin: 16px 0;
  line-height: 16px;
}

.search-form {
  display: flex;
  

}

.search-bar {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
  height: 64px;
  width: 80%;
  font-size: 32px;
  padding: 0px 24px;
}

.search-btn {
  box-sizing: border-box;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid #000000;
  height: 64px;
  width: 20%;
  margin-left: -1px;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 24px;
  padding: 24px;
  max-width: 100vw;
  flex-wrap: wrap;
}
.container {
  width: 320px;
  padding: 16px;
}

.image {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  height: 100%;
}

.middle {
  background: #f1f1f1cc;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 32px;
  margin-top: -100px;
  padding: 4px 0 1px 0;
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  padding: 16px 32px;
  color: #222;
}
.stats {
  display: flex;
  justify-content: space-evenly;
  margin-top: -24px;
  text-align: center;
}
.statItem {
  padding: 4px;
}
a {
  text-decoration: none;
}
.statItem:hover {
  background-color: rgb(228, 228, 228);
  padding: 4px;
  border-radius: 4px;
}
.big-number {
  color: #444;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 4px;
}

.small-text {
  color: #888888;
  font-size: 12px;
  margin-top: -16px;
}

.ingredients-container {
  background-color: white;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(100px);
  border-radius: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin: 4px;
  flex-direction: column;
  display: flex;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 24px 0px 24px;
}
.ingredients-title {
  font-weight: bold;
  font-size: 18px;
  color: #222;
}

.ingredients-list {
  padding: 0px 24px;
  margin: -8px 0px 16px 0px;
}
.header-hero,
.default-hero {
  min-height: calc(100vh - 56px);
  -webkit-min-height: calc(100vh - 56px);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('./images/homeBcg.jpeg') center/cover no-repeat;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: 20px;
}
input[type=text] {
  margin-bottom: 20px;
  margin-top: 10px;
  width:100%;
  padding: 15px;
  border-radius:5px;
  border:1px solid #A9A9A9;
  }
  

  
  
  textarea {
    width:100%;
    padding: 15px;
    margin-top: 10px;
    border:1px solid #A9A9A9;
    border-radius:5px;
    margin-bottom: 20px;
    resize:none;
  }
  input[type=text]:focus,textarea:focus {
   border-color: #4697e4;
  }
  input[type=text] {
    margin-bottom: 20px;
    margin-top: 10px;
    width:100%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #A9A9A9;
    }
    
    button[type=submit] {
      margin-bottom: 20px;
      width:100%;
      padding: 15px;
      border-radius:5px;
      border:1px solid #A9A9A9;
      background-color: #007acc;
      color: #F0F8FF;
      opacity: 0.5;
      font-size:15px;
      cursor:pointer;
      }
    
    
    textarea {
      width:100%;
      padding: 15px;
      margin-top: 10px;
      border:1px solid #A9A9A9;
      border-radius:5px;
      margin-bottom: 20px;
      resize:none;
    }
    input[type=text]:focus,textarea:focus {
    
    }